.add-recipes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    color: #3c3c3c;

    .title {
        font-family: 'Poppins-Bold';
        font-size: 40px;
    }

    .btn-go-back {
        font-family: 'Poppins-Bold';
        font-size: 16px;
        letter-spacing: 1px;
        color: #fff;
        margin-top: 20px;
        padding: 10px 40px;
        border-color: transparent;
        border-radius: 20px;
        background-color: #f55656;
        cursor: pointer;
    }
}