.recipe-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    .recipe-review {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 10px;
    }
}