* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins-Light';
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: local('Poppins'), url(./fonts/Poppins/Poppins-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins-Light';
    src: local('Poppins'), url(./fonts/Poppins/Poppins-Light.ttf) format('truetype');
}