.btn-div {
    width: 80%;

    .btn-add-recipes {
        font-family: 'Poppins-Bold';
        font-size: 16px;
        letter-spacing: 1px;
        color: #fff;
        margin-top: 50px;
        padding: 10px 40px;
        border-color: transparent;
        border-radius: 20px;
        background-color: #f55656;
        cursor: pointer;
    }
}